<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="title ion-no-padding ion-text-center">
            Minima Incentive Program
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="sub-toolbar">
    <ion-grid>
      <ion-row class="has">
        <ion-col class="no-borders ion-text-left" routerLink="/profile" routerLinkActive="hdr-toolbar-active">Profile</ion-col>
        <ion-col class="no-borders" routerLink="/faqs" routerLinkActive="hdr-toolbar-active">FAQs</ion-col>
        <ion-col class="no-borders" routerLink="/contact" routerLinkActive="hdr-toolbar-active">Contact</ion-col>
        <ion-col class="no-borders" class="sign-out">
            <span (click) = 'signOut()'>
              Sign out
            </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="welcome ion-no-padding ion-text-center">
    <ion-row class="first ion-no-padding">
      <ion-col class="ion-text-center ion-no-padding">
        <span>Congratulations.</span><br>
        You are now part of the<br>
        Minima Incentive Program
        <div class="line"></div>
      </ion-col>
    </ion-row>
    <ion-row class="line ion-no-padding">
      <ion-col class="ion-no-padding">
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row class="second ion-no-padding">
      <ion-col class="ion-no-padding">
        Your participation will help us build a<br>
        network for individuals to freely<br>
        transmit information and value.<br><br>
        All you have to do now is<br>
        <span>earn coins...</span>
      </ion-col>
    </ion-row>
    <ion-row class="button ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-button (click)="firstTime()" routerLink="/rewards" type="button" fill="clear">Enter</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="subtitle ion-no-paddiong">
      <ion-col class="ion-no-padding">
        Please look at the FAQs in the navigation bar<br>
        for answers to any questions you may have.
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>


<ion-footer class="ion-no-border ion-no-padding ion-text-center">
  <ion-toolbar class="activity ion-no-padding">
    <ion-buttons>
      <div routerLinkActive="ftr-toolbar-active" class="footer-btn-wrapper" style="margin-right: 45px;">
        <ion-button class="no-borders" routerLink="/rewards">
          <ion-icon name="star"></ion-icon>
        </ion-button>
        <ion-label>
          Rewards
        </ion-label>
      </div>
      
      <div routerLinkActive="ftr-toolbar-active" class="footer-btn-wrapper" style="margin-left: 45px;">
        <ion-button class="no-borders" routerLink="/cash">
          <ion-icon name="cash"></ion-icon>
        </ion-button>
        <ion-label>
          Incentives
        </ion-label>
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>