ion-grid.welcome {
  margin-top: 70px;
  ion-row.first {
    ion-col {
      span {
        color: var(--ion-color-primary);
        font-size: 28px;
      }
      font-size: 20px;
      color:  #91919D;
      padding-bottom: 15px;
    }
  }
  ion-row.line {
    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        width: 100px;
        height: 2px;
        background: var(--ion-color-primary);
      }
    }
  }
  ion-row.second {
    margin-top: 15px;
    ion-col {
      font-size: 14px;
      color: #91919D;
      span {
        color: var(--ion-color-primary);
        font-size: 20px;
      }
    }
  }
  ion-row.button {
    margin-top: 70px;
    ion-col {
      ion-button {
        width: 164px;
        height: 44px;
        background-color: var(--ion-color-primary);
        border-radius: 15px;
        color: #fff;
        text-transform: none;
      }
      ion-button:hover {
        background-color: #346FE6;
      }
    }
  }
  ion-row.subtitle {
    margin-top: 70px;
    ion-col {
      color: var(--ion-color-primary);
      font-family: manrope-regular;
      font-size: 14px;
    }
  }
}