<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="title ion-no-padding ion-text-center">
            Minima Incentive Cash MiniDapp
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="welcome-container">
    <ion-row>
      <ion-col class="ion-text-center welcome">
        Welcome to the Minima <br>
        Incentive Cash MiniDapp
      </ion-col>
    </ion-row>
    <ion-row class="has">
      <ion-col>
        <div class="blue-ruler"></div>
      </ion-col>
    </ion-row>
    <ion-row class="has">
      <ion-col class="ion-text-center welcome-subtitle">
        If you have already signed up for <br> incentive cash, please login with <br>
        your username & password below.
        <br><br>
        Or click here to <a>register</a> now
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="loginForm" (ngSubmit)="getReferenceID()" >
    <ion-list>
      <ion-item class="ion-no-padding" lines="none">
        <ion-label position="stacked">Username/Email</ion-label>
        <ion-input placeholder="Enter a valid username or email" clearInput="true" formControlName="uName"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="Enter your password" clearInput="true" formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-item lines="none" class="no-ripple ion-no-padding">
        <ion-button #getReferenceButton class="sign-up-btn" slot="end" fill="clear" type="submit">
          Get Reference ID
        </ion-button>
      </ion-item>
      <ion-item [hidden]="loginStatus.length === 0" class="login-status" lines="none">
        <ion-note slot="end">{{ loginStatus }}</ion-note>
      </ion-item>

      <p class="notes">
        Welcome to <span>the Incentive Cash MiniDapp.</span>
      </p>
      <p class="notes">
        If you have already signed up for incentive cash, please login with your username & password.
      </p>
      <p class="notes">
        Otherwise, click <a>here</a> to register now!
      </p>
    </ion-list>
  </form> 

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-footer>
