<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Incentive Cash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="collect-table">
    <ion-row>
      <ion-col>Incentive Cash</ion-col>
      <ion-col>Amount</ion-col>
      <ion-col>Status</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
