::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-grid.table {
  margin-top: 15px;
  ion-row.table-content {
    padding-left: 27px;
    padding-right: 27px;
    ion-col {
      p {
        font-size: 13px;
        font-variant-numeric: tabular-nums;
      }
      ion-progress-bar {
        --buffer-background: #FAFAFF;
        --background: FAFAFF;
        --progress-background: var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary);
        height: 24px;
        width: 63.88px;
        border-radius: 5px;
        margin-top: 6px;
        float: right;
      }
      span {
        border-radius: 5px;
        text-transform: none;
        background-color: var(--ion-color-primary);
        color: #f0f0fa;
        font-family: manrope-bold;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 9px;
        padding-right: 9px;
        cursor: pointer;
      }
      span:hover {
        background-color: #346FE5;
      }
    }
  }
  ion-row.table-content:nth-child(even) {
    background-color: #F0F0FA;
    background: #F0F0FA;
  }
  ion-row.table-content:last-child {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) {
  ion-grid.table {
    ion-row.header {    
      margin-left: 110px;
      margin-right: 110px;
    }
    ion-row.table-header {
      margin-left: 110px;
      margin-right: 110px;
    }
    ion-row.table-content {
      padding-left: 110px;
      padding-right: 110px;
    }
    ion-row.table-footer {
      margin-left: 110px;
      margin-right: 110px;
    }
  }
  ion-header {
    ion-toolbar.page-header {
      padding-left: 110px;
      padding-right: 110px;
    }
    ion-toolbar.table-header {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
  ion-footer {
    ion-toolbar.table-footer {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}

