<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="title ion-no-padding ion-text-center">
            Minima Incentive Cash
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="sub-toolbar">
    <ion-grid>
      <ion-row class="has">
        <ion-col class="no-borders" routerLink="/profile" routerLinkActive="hdr-toolbar-active">Profile</ion-col>
        <ion-col class="no-borders" routerLink="/faqs" routerLinkActive="hdr-toolbar-active">FAQs</ion-col>
        <ion-col class="no-borders" routerLink="/contact" routerLinkActive="hdr-toolbar-active">Contact</ion-col>
        <ion-col class="sign-out">
          <span id="sign-out-btn" (click) = 'signOut()'>
            Sign out
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Incentive Cash</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="faqs-list ion-no-padding">
    <ion-grid class="pre-header ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding">
          FAQs
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="faq ion-no-padding">
      <ion-row>
        <ion-col>
          Coming soon...
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-list>

</ion-content>

<ion-footer class="activity ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons>
      <div routerLinkActive="ftr-toolbar-active" class="footer-btn-wrapper" style="margin-right: 45px;">
        <ion-button routerLink="/rewards">
          <ion-icon src="assets/rewardsIcon.svg"></ion-icon>
        </ion-button>
        <ion-label>
          Rewards
        </ion-label>
      </div>
      
      <div routerLinkActive="ftr-toolbar-active" class="footer-btn-wrapper" style="margin-left: 45px;">
        <ion-button routerLink="/cash">
          <ion-icon name="cash"></ion-icon>
        </ion-button>
        <ion-label>
          Incentives
        </ion-label>
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
