/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.no-borders {
  background:none; 
  outline: none; 
  -webkit-appearance: none; 
  box-shadow: none !important; 
  border: none; 
}
.no-ripple {
  --ripple-color: transparent;
  --ripple-color: transparent;
  --background-activated: transparent;
  --background-activated-opacity:transparent;
  --background-focused: transparent;
  --background-focused-opacity:transparent;
  --background-hover: transparent;
  --background-hover-opacity  :transparent;
}
ion-header ion-toolbar {
  height: 50px;
}
ion-header ion-toolbar.sub-toolbar {
  height: 51px;
  --background: #F0F0FA;
  --border-color: #c8c8d4;
  --border-width: 0 0 1px 0;
  ion-grid ion-row.has ion-col {
    color: #001C32;
    font-size: 12px;
    font-family: manrope-medium;
    text-align: center;
  }
  ion-grid ion-row.has ion-col:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  ion-grid ion-row.has ion-col.sign-out span {
    border: 1px solid #596A7B;
    padding: 4px;
  }
  ion-grid ion-row.has ion-col.sign-out span:hover {
    color: #f0f0fa;
    background-color: #031B32;
    cursor: pointer;
  }
}
@media only screen and (min-width: 992px) {
  ion-header ion-toolbar.sub-toolbar {
    padding-left: 30px;
    padding-right: 47px;
  }
}
ion-toolbar.cash-progress-toolbar {
  --background: #F1F5FF;
  position: absolute;
  bottom: 121px;
  height: 137px;
  --border-color: #91919d;
  --border-width: 1px 0 0 0 ;
}
ion-footer {
  height: 121px;
  background-color: #031B32;
  color: #F0F0FA;
  padding-top: 10px;
  font-size: 10px;
}
ion-toolbar {
  --padding-start: 7px;
  --padding-end: 7px;
  --background: var(--ion-color-dark);
  color: #F0F0FA;
  font-family: manrope-medium;
}
ion-col.title {
  font-size: 18px;
  margin: 0;
}
ion-content {
  --background: #FAFAFF;
}
ion-item div.item-native .item-inner .input-wrapper {
  background-color: transparent;
  background: transparent
}
ion-list ion-item {
  --inner-padding-end: 0;
}
ion-list ion-item ion-label {
  margin-bottom: 7px;
  font-size: 16px;
  font-family: manrope-bold;
}
ion-input {
  letter-spacing: 0.1em;
  font-size: 12px;
  border-radius: 12px;
  color: #000;
  background-color: #ffffff;
}
ion-input input {
  height: 48px;
  width: 338px;
}
ion-button.sign-up-btn {
  margin: 0;
  margin-top: 36px;
  border-radius: 12px;
  font-size: 16px;
  height: 48px;
  border: 1px solid #f0f0fa;
  color: #F0F0FA;
  text-transform: none;
  background-color: var(--ion-color-primary);
}
ion-button.sign-up-btn:hover {
  background-color: #346FE5;
}
ion-footer.activity {
  align-items: center;
  display: inline-flex;
  ion-toolbar {
    ion-buttons {
      justify-content: center;
      div.footer-btn-wrapper {
        display: flex;
        width: 50px;
        flex-direction: column;
        ion-button {
          border: 1px solid #F0F0FA;
          border-radius: 50px;
          width: 50px;
          height: 50px;
        }
        ion-label {
          margin-top: 15px;
        }
      }
    }
  }
}
ion-grid.pre-header {
  ion-row ion-col {
    border-bottom: 1px solid #707070;
    padding-bottom: 12px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: manrope-extrabold;
  }
}

@media only screen and (max-height: 757px) {
  ion-input input {
    padding: 0;
    height: 18px;
  }
  ion-button.sign-up-btn {
    height: 34px;
  }
}
ion-icon.icon {
  float: left;
  width: 135px;
  height: 27px;
}
.hdr-toolbar-active {
  color: var(--ion-color-primary) !important;
}
.ftr-toolbar-active {
  color: var(--ion-color-primary) !important;
  ion-button {
    border: 1px solid var(--ion-color-primary) !important;
  }
}
.m7 {
  margin: 7px;
}
.m-t7 {
  margin-top: 7px;
}
.m-b7 {
  margin-bottom: 7px;
}
.m-l7 {
  margin-left: 7px;
}
.m-r7 {
  margin-right: 7px;
}